.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4.1px);
}

.redirect_button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(79, 107, 187, 0.8);
  color: #fff;
  border: none;
  cursor: pointer;

  transition: all 0.2s;
}

.redirect_button:hover {
  transition: all 0.2s;
  background-color: rgba(79, 107, 187, 1);
}
